.App {
  font-style: normal;
}

.App-body {
  display: flex;
}

.App-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  background: url("../utils/image/idea-oasis.jpeg");
  width: 60%;
  height: 100vh;
}

.App-form {
  width: 100vh;
  height: 100vh;

  display: flex;

  justify-content: center;

}

.App-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
